.bundle
db/*.sqlite3
log/*.log
tmp/

.rvmrc

.powrc

config/database.yml

*.lck

public/assets/*
solr/pids
solr/data
phrase/locales/*
.phrase
phantomjs/*
config/locales/2013*
*.pid
phrase/locales/phrase.de.yml

phrase/locales/phrase.en.yml

phrase/locales/phrase.es.yml

phrase/locales/phrase.fr.yml

phrase/locales/phrase.nl.yml

*log.lck

config/locales/2013*
phantomjs
.DS_Store
*.pid

zeus.json
custom_plan.rb
.ruby-gemset

coverage/
app/assets/javascripts/i18n/translations.js

app/assets/javascripts/i18n/translations.js